# Dependencies
node_modules
pnpm-lock.yaml
yarn.lock
package-lock.json

# Build
dist
build
out

# Environment
.env
.env.local
.env.development
.env.test
.env.production

# IDE
.vscode
.idea
*.swp
*.swo

# MacOS
.DS_Store

# Windows
Thumbs.db

# Vercel
.vercel
